{% extends 'home/base.html' %}
{% load bootstrap3 %}
{% load social_share %}
{% load fontawesome %}

{% block content %}
{% include 'home/navbar.html' %}
<div class="container marketing">

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="jumbotron">
        <h1>후원 내역</h1>
    </div>

    <table class="table">
        <tr>
            <th>번호</th>
            <th>후원자</th>
            <th>후원금액</th>
        </tr>
        <tbody>
        {% for donate in object_list %}
        <tr>
            <td> {{ donate.num }}</td>
            <td> {{ donate.name}}</td>
            <td> {{ donate.amount }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <p class="lead"> ※ YLA 장충반은 서울석유에서 강의실과 학생 중식을 제공하고 있습니다. </p>


</div><!-- /.container -->
{% include 'home/footer.html' %}
{% endblock %}
