<div class="facebook-this">
    <a href="{{ facebook_url }}" target="_blank" class="btn">
        <!-- Facebook icon by Icons8 -->
        <img class="icon icons8-Facebook" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABr0lEQVRoQ2NkGOKAcYi7n2HUAwMdg6MxMOhjwDZgazAjw/9MRkZGZ3o69v///3v/MzBOP7zBey0+e/EmIbvALR2MDIzl9HQ4ul3/GRhbD633qsHlBpwesAnc6sPMwLB5IB0Pt/s/o9fBDV7bsbkFpwfsArceYGRgsB8MHvjPwHDw0HpvB5I8YB+49QMDAwP/YPAAAwPDx4PrvQVI9cD/QeJ4sDMOrvfGmlpwJiH7wK2jHsAWgx6OMgzujtIMhjrCGNIOQdtwRvqgiIGWCmMGGzNxnI4c1B4AhXxFrh7ebDWoPTCh2YLBQFto6HrgwDovDMfXdJxlOHLqJVGF3YDnAWwewJdk0H016gGi4hmPoiEZA9gcjcuPX779YfCJ2TW46gFSPHDh6juGgtoTQ9cDa7Y8YJgy79rQ9cCClbcZQBgXGC2FRmQphOzpIVmMjnoAKQRGM/FoJsbSnB5tjTIw4J4foPaoxGgxOtDjQgMRA1QdWqTQA6QPLQ79wd2AbZ4MjP9xD5VRWjGQop+c4XWQ+UN6ggMWQEN6iomUWB4otaPTrAMV8jB7R2NgNAYoDAEAqqgHQFrb1m4AAAAASUVORK5CYII=" width="48" height="48">
    </a>
</div>
