{% extends 'home/bootstrap.html' %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load fontawesome %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{# {% bootstrap_messages %} #}

{% load static %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">

{% fontawesome_stylesheet %}
{% endblock %}

{% block bootstrap3_content %}

{% block content %}{% endblock %}

{% endblock %}