{% extends 'home/base.html' %}
{% load bootstrap3 %}
{% load bootstrap_pagination %}

{% block content %}
{% include 'home/navbar.html' %}


<div class="container">
    <br>
    <br>
    <br>
    {% include 'home/carousel.html' %}
    <!--
    <div class="col-xs-12 col-md-8">
        <div class="text-center">
            <h1>공지사항</h1>
        </div>
        <div class="table-responsive">

            <table class="table">
                <tr>
                    <th>날짜</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                </tr>
                <tbody>
                {% for post in object_list %}
                <tr>
                    <td> {{ post.date }}</td>
                    <td> {{ post.title }}</td>
                    <td> {{ post.auth }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% include 'home/pagination.html' %}
    </div>

    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4
    </div>
    -->
</div>

{% include 'home/footer.html' %}
{% endblock %}
