{% block navbar %}
<!-- <div class="navbar-wrapper"> -->
<!-- <div class="container"> -->
<nav class="navbar navbar-custom navbar-light bg-faded navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="{% url 'home' %}">
              <img src="/static/img/home/logo.png" alt="BeautifulSeodang"
              style="max-width: 100%;  height: auto; max-height: 40px; ">
            </a>

            <!-- <a class="navbar-brand" href="/home"></a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 소개 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/introduction/about">아름다운서당은</a><li>
                        <li><a href="/introduction/greeting">대표인사말</a><li>
                        <li><a href="/introduction/timeline">걸어온길</a><li>
                        <li><a href="/introduction/people">함께하는사람들</a><li>
                        <li><a href="/introduction/news">언론보도</a><li>
                        <li><a href="/introduction/notices">공지사항</a><li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 교육 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/education/purpose">교육 목적</a><li>
                        <li><a href="/education/period">교육 기간</a><li>
                        <li><a href="/education/feature">교육 특징</a><li>
                        <li><a href="/education/curriculum">교육 과정</a><li>
                        <li><a href="/education/content">교과 내용</a><li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 후원 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/donation/sponsor">후원내역</a><li>
                        <li><a href="/donation/howto">후원하기</a><li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 지원 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/apply/application">지원하기</a><li>
                        <li><a href="/apply/inquire">문의하기</a><li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 우리들이야기 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/"></a><li>
                        <li><a href="/"></a><li>
                    </ul>
                </li>



                {% if user.is_authenticated %}
                <li><a href="logout/">로그아웃</a><li>
                {% else %}
                <li><a href="login/">로그인</a><li>
                {% endif %}
                <!--
                {% if user.is_authenticated %}
                <li><a href="/accounts/logout">로그아웃</a><li>
                {% else %}
                <li><a href="/accounts/signup">회원가입</a><li>
                <li><a href="/accounts/login">로그인</a><li>
                {% endif %}
                -->
        </div>
    </div>
</nav>
<!-- </div> -->
<!-- </div> -->

{% endblock navbar %}