{% extends 'registration/bootstrap.html' %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load fontawesome %}
{% load i18n %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

{% fontawesome_stylesheet %}
{% endblock %}

{% block bootstrap3_content %}
{% block content %}
{% include 'home/navbar.html' %}
<div class="container marketing">
    <hr class="featurette-divider">

    {% block account_content %} {% endblock %}
    {% endblock %}

</div>
{% include 'home/footer.html' %}
{% endblock %}