{% extends "registration/base.html" %}
{% load bootstrap %}
{% load fontawesome %}
{% load i18n %}
{% block content %}
{% include 'home/navbar.html' %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <hr class="featurette-divider">

    <h2 style="max-width: 330px;  padding: 15px;  margin: 0 auto;">{% trans "로그인" %}</h2>

    {% if form.errors %}
    <p>ID나 비밀번호가 일치하지 않습니다.</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}" style="max-width: 330px;  padding: 15px;  margin: 0 auto;">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="/" />
        <button class="btn btn-primary" type="submit">로그인</button>
    </form>

    <br>
    <br>

    <h2 style="max-width: 330px;  padding: 15px;  margin: 0 auto;">{% trans "소셜 로그인" %}</h2>
    <div style="">
        <a href="{% url "social:begin" "google-oauth2" %}">
        <img class="icon icons8-Google-Plus" src="/static/img/register/google-plus.png" width="48" height="48">
        </a>

        <a href="{% url "social:begin" "facebook" %}">
        <img class="icon icons8-Facebook" src="/static/img/register/facebook.png" width="48" height="48">
        </a>

        <a href="{% url "social:begin" "twitter" %}" class="btn ">
        <img class="icon icons8-Twitter" src="/static/img/register/twitter.png" width="48" height="48">
        </a>
    </div>
</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
