{% extends 'home/base.html' %}
{% load bootstrap3 %}

{% block content %}
{% include 'home/navbar.html' %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">아름다운서당은
                <span class="text-muted"></span>
            </h2>
            <p class="lead">아름다운서당은 미래의 가치를 창조합니다.</p>
            <p class="lead">사람이 소중한 사회를 만듭니다.</p>
            <p class="lead">그리고 공공선에 기여하는 미래형리더를 육성하고 있습니다.</p>
            <br/>
            <p> 서울의 "영리더스아카데미(Young Leaders Acacemy:YLA)"를 운영하는 비영리교육기관으로서 2005년 전남대학교 취업능력함양아케데미를 모체로 하여 오늘에 이르고 있습니다</p>
            <br/>
            <p>사회진출을 앞둔 대학생들을 대상으로 1년간의 강도 높은 특별교육을 실시하는 '아름다운서당'은 대기업 임원, 금융기관 간부, 언론사 간부를 거친 40여명의 시니어들의 지식과 경험을 청년세대에 물려주고자 설립한 자원봉사교육기관입니다.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
