{% extends 'home/base.html' %}
{% load bootstrap3 %}
{% load social_share %}
{% load fontawesome %}
{% load disqus_tags %}

{% block content %}
{% include 'home/navbar.html' %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <hr class="featurette-divider">

    <div class="jumbotron">
        <h1>아름다운 서당은</h1>
    </div>

    <class="container">
    <!--
    <h1>아름다운 서당은</h1>
    -->
    <br>
    <h4>아름다운서당은 <strong class="text-red">미래의 가치</strong>를 창조합니다. </h4>
    <h4><strong class="text-red">사람이 소중한 사회</strong>를 만듭니다. </h4>
    <h4>그리고 <strong class="text-red">공공선에 기여하는 미래형 리더</strong>를 육성하고 있습니다. </h4>
    <br>
    <p class="lead"> 서울의 "영리더스아카데미(Young Leaders Acacemy:YLA)"를 운영하는 비영리교육기관으로서 2005년 전남대학교 취업능력함양아케데미를 모체로 하여 오늘에 이르고 있습니다. </p>
    <p class="lead"> 그동안 서울과 광주, 제주, 등에서 모두 700여명의 수료생을 배출했습니다. </p>
    <p class="lead"> 사회진출을 앞둔 대학생들을 대상으로 1년간의 강도 높은 특별교육을 실시하는 '아름다운서당'은 대기업 임원, 금융기관 간부, 언론사 간부를 거친 40여명의 시니어들의 지식과 경험을 청년세대에 물려주고자 설립한 자원봉사교육기관입니다.
    </p>


    {% include 'home/social_share.html' %}
    {% disqus_show_comments %}
    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
