{% extends 'home/base.html' %}
{% load bootstrap3 %}

{% block content %}
{% include 'home/navbar.html' %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <hr class="featurette-divider">

    <div class="jumbotron">
        <h1>함께하는 사람들</h1>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>서재경 / 이사장</h3>
            <p>전 대우부사장 <br>
                전국경제인연합회 회장보자역<br>
                서울신용보증재단 이사상</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>김흥숙 / 이사</h3>
            <p>시인<br>
                칼럼니스트</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>전부옥 / 이사</h3>
            <p>대한불교조계종 전국비구니회<br>
                전 대한불교조계종 총무원<br>
                서울신용보증재단</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <br/>
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>안희준 / 이사</h3>
            <p>전 SK네트웍스 임원<br>
                나브 마리타임 고문</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>권홍우 / 이사</h3>
            <p>서울경제신문 논설위원<br>
                서울경제신문 선임기자</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>함상준 / 이사</h3>
            <p>변리사<br>
                특허법인 C&S 대표</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <br>
    <h1>인문학 담당 교수</h1>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>김명곤</h3>
            <p>(전) SK에너지 임원</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>김종건</h3>
            <p>(현) 세계로선박금융 대표이사<br>
                (전) 금융감독원 국장</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>노재호</h3>
            <p>(현) KOTRA 인적자원위원회 자문위원<br>
                (전) SK네크웍스 임원</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>목계선</h3>
            <p>(현) 아동문학가 <br>
                (전) 국어교사</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>박일규</h3>
            <p>(전) 지코스 대표이사<br>
                (전) 유공훅스 임원</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>배정화</h3>
            <p>(현) 하루헌 출판사 대표<br>
                (전) 불교방송 작가</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>송윤강</h3>
            <p>(현) 푸른저축은행 이사<br>
                (전) 조흥은행 부장</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>서지희</h3>
            <p>(현) 인천국제공항공사 교육연수팀</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>이헌섭</h3>
            <p>(현) SK 양평동 충전소 대표<br>
                (전) SK이노베이션 임원</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>장석찬</h3>
            <p>(전) SK에너지 임원</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>장종현</h3>
            <p>(전) SK네크웍스 임원</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>차현진</h3>
            <p>(현) 한국은행 연수부장</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>허만길</h3>
            <p>(현) 드림앤드드림 대표 <br>
                (전) 산업리스</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <h1>경영학 담당 교수</h1>
    <br>

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>공  헌</h3>
            <p>(전) 대우증권 상무<br>
                (전) 메리츠증권 임원
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>김건우</h3>
            <p>(현) KOTRA 수출 전문위원<br>
                (전) 대우지엠 국제영업담당 임원
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>박명선</h3>
            <p>(현) 한국스마트시티 대표이사<br>
                (전) KT 임원
            </p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>방무창</h3>
            <p>(전) 동화은행 국제금융팀장<br>
                (전) 산은캐피탈 리테일금융실장
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>신재영</h3>
            <p>(현) 펀드온라인코리아 부사장<br>
                (전) 대우증권 전무
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>유영일</h3>
            <p>(전) SC제일은행 상무
            </p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>이종찬</h3>
            <p>(전) Lubrizol Korea 한국 사장
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>이찬웅</h3>
            <p>(전) 외환은행 본무장
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>한덕선</h3>
            <p>(전) 그로발 마린대표<br>
                (전) SK해운
            </p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            <h3>황윤상</h3>
            <p>(현) 우림해운 부사장<br>
                (전) SK 이노베이션 임원
            </p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
