{% extends 'home/base.html' %}
{% load bootstrap3 %}
{% load social_share %}
{% load fontawesome %}
{% load disqus_tags %}
{% block content %}
{% include 'home/navbar.html' %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <hr class="featurette-divider">

    <div class="jumbotron">
        <h1>대표인사말</h1>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4 ">
                <br>
                <br>
                <img src="/static/img/introduction/greeting/seo.png" alt="" class="img-rounded"
                     style="max-width: 100%; height: auto; margin: 0 auto;">
            </div>
            <div class="col-lg-8 col-xs-8 col-sm-8 col-md-8 ">

                <h3> 서재경 </h3>
                <ui>
                    <li> <strong> 남도학숙 원장, 아름다운서당 이사장 </strong> </li>
                    <li> 전 한국일보사 입사(서울경제신문 기자) </li>
                    <li> 전 대우파나마 대표이사 </li>
                    <li> 전국경제인연합회 회장보좌역 </li>
                    <li> 한국외국어대학교 상경학부 겸임교수 </li>
                    <li> 사단법인 다산연구소 상임이사 </li>
                    <li> 사단법인 서남해안포럼 공동대표 </li>
                    <li> 조선대학교 초빙교수 </li>
                    <li> 서울신용보증재단 이사장 </li>
                </ui>

            </div>
        </div>
        <div class="row">
            <br>
            <br>
            <p class="lead">안녕하세요. 아름다운서당 이사장 서재경 입니다. </p>
            <p class="lead">아름다운서당은 <strong class="text-red">사회가 환영하는 인재</strong>를 육성하고 있습니다. <br>
                후진 양성에 뜻을 두고, 2005년 '아름다운서당'을 설립하였습니다. <br>
                가진 것 가운데 조금이라도 가치 있는 것이 있다면 젊은이들과 나누고 싶었습니다. <br>
                공부하는 요령이 아닌 <strong class="text-red"> 생각하는 능력, 문제해결 능력, 그리고 무엇이 옳고 그른가에 대해서 판단할 수 있는 기회</strong>를 제공해 주고자 했습니다. <br>
                <br>
                현재 서울, 청년허브, 제주, 전남, 송석 5개 아카데미로 확대되어 아름다운서당을 거쳐 간 학생은 모두 600명이 넘었습니다.<br>
                교육과정을 이수하고 수료를 앞둔 졸업생들은 매년 고백하듯 말합니다.<br>
                비록 힘든 과정이었지만 1년 동안 삶에서 정말 중요한 것들을 배웠다고...<br>
                <br>
                아름다운 서당이 삶의 좋은 암묵지를 나누고 배우는 공간이 되기를 기대합니다.<br>
                <br>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
            </div>
            <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                <br>
                <p class="pull-right">이사장</p>
            </div>
            <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
                <img src="/static/img/introduction/greeting/sign.png" alt="" class="img-rounded"
                     style="max-width: 100%; height: auto; margin: 0 auto;">
            </div>
        </div>

    </div>

    {% include 'home/social_share.html' %}
    {% disqus_show_comments %}

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
