{% extends 'home/base.html' %}
{% load bootstrap3 %}

{% block content %}
{% include 'home/navbar.html' %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="jumbotron">
        <h1>언론보도</h1>
    </div>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <th width="10%">번호</th>
                <th width="50%">제목</th>
                <th width="20%">날짜</th>
                <th width="10%">글쓴이</th>
                <th width="10%">조회수</th>
            </tr>
            <tbody>
            {% for object in object_list %}
            <tr>
                <td width="10%"> {{ object.id }}</td>
                <td width="50%"> <p>
                    <a href="/introduction/news_detail/{{ object.id }}">  {{ object.subject }} </a>
                </p> </td>
                <td width="20%"> {{ object.date }}</td>
                <td width="10%"> {{ object.name }}</td>
                <td width="10%"> {{ object.hits }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'home/pagination.html' %}


    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
