{% extends 'home/base.html' %}
{% load bootstrap3 %}

{% block content %}
{% include 'home/navbar.html' %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="panel panel-warning">
        <div class="panel-body">
            <h2 class="text-blue"><strong>{{ object.subject }}</strong></h2>
        </div>
        <div class="panel-body">
            <p> 작성일 {{ object.date }}</p>
            <p> 작성자 {{ object.name }}</p>
        <br>
            {{ object.body }}
        </div>
    </div>



    {% include 'home/social_share.html' %}
    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
