{% extends 'home/base.html' %}
{% load bootstrap3 %}

{% block content %}
{% include 'home/navbar.html' %}

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <hr class="featurette-divider">

    <div class="jumbotron">
        <h1>함께하는 사람들</h1>
    </div>


    <br>
    <h1>이사진</h1>
    <br>

    <table class="table table-condensed">
        {% for people in object_list %}
        {% if people.type == '이사' %}
        <tr class="row ">
            <td class="col-xs-4 col-sm-4 col-md-4 text-center">
                <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            </td>
            <td class="col-xs-8 col-sm-8 col-md-8">
                <h3> {{ people.name }} </h3>
                <p class="text-muted"> {{ people.carrier }}</p>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <br>
    <h1>인문학 담당 교수</h1>
    <br>
    <table class="table table-condensed">
        {% for people in object_list %}
        {% if people.type == '인문' %}
        <tr class="row">
            <td class="col-xs-4 col-sm-4 col-md-4 text-center">
                <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            </td>
            <td class="col-xs-8 col-sm-8 col-md-8">
                <h3> {{ people.name }} </h3>
                <p class="text-muted"> {{ people.carrier }}</p>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

    <br>
    <h1>경영학 담당 교수</h1>
    <br>
        <table class="table table-condensed">
        {% for people in object_list %}
        {% if people.type == '경영' %}
        <tr class="row">
            <td class="col-xs-4 col-sm-4 col-md-4 text-center">
                <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="70" height="70">
            </td>
            <td class="col-xs-8 col-sm-8 col-md-8">
                <h3> {{ people.name }} </h3>
                <p class="text-muted"> {{ people.carrier }}</p>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>


</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
