{% extends 'home/base.html' %}
{% load bootstrap3 %}
{% load social_share %}
{% load fontawesome %}

{% block content %}
{% include 'home/navbar.html' %}

<div class="container marketing">

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="jumbotron">
        <h1>교육 내용</h1>
    </div>

    <div class="panel panel-warning">
        <div class="panel-body">
            <h2 class="text-blue"><strong>인문학과정</strong></h2>
        </div>
        <div class="panel-footer panel-waring">

            <h3 class="text-muted"><strong>동양철학</strong></h3>

            <table class="table">
                <tr>
                    <th width="10%">번호</th>
                    <th width="20%"></th>
                    <th width="50%">책이름</th>
                    <th width="20%">저자</th>
                </tr>
                <tbody>
                {% for content in object_list %}
                {% if content.type == 'east' %}
                <tr>
                    <td width="10%"> {{ content.number }}</td>
                    <th width="20%"> <img src={{ content.img}} alt=""> </th>
                    <td width="50%"> {{ content.name }}</td>
                    <td width="20%"> {{ content.author }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>

            <h3 class="text-muted"><strong>서양철학</strong></h3>
            <table class="table">
                <tr>
                    <th width="10%">번호</th>
                    <th width="70%">책이름</th>
                    <th width="20%">저자</th>
                </tr>
                <tbody>
                {% for content in object_list %}
                {% if content.type == 'west' %}
                <tr>
                    <td width="10%"> {{ content.number }}</td>
                    <td width="70%"> {{ content.name }}</td>
                    <td width="20%"> {{ content.author }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>

            <h3 class="text-muted"><strong>한국문학</strong></h3>
            <table class="table">
                <tr>
                    <th width="10%">번호</th>
                    <th width="70%">책이름</th>
                    <th width="20%">저자</th>
                </tr>
                <tbody>
                {% for content in object_list %}
                {% if content.type == 'korea' %}
                <tr>
                    <td width="10%"> {{ content.number }}</td>
                    <td width="70%"> {{ content.name }}</td>
                    <td width="20%"> {{ content.author }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>

            <h3 class="text-muted"><strong>외국문학</strong></h3>
            <table class="table">
                <tr>
                    <th width="10%">번호</th>
                    <th width="70%">책이름</th>
                    <th width="20%">저자</th>
                </tr>
                <tbody>
                {% for content in object_list %}
                {% if content.type == 'foreign' %}
                <tr>
                    <td width="10%"> {{ content.number }}</td>
                    <td width="70%"> {{ content.name }}</td>
                    <td width="20%"> {{ content.author }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>

            <h3 class="text-muted"><strong>역사/문화</strong></h3>
            <table class="table">
                <tr>
                    <th width="10%">번호</th>
                    <th width="70%">책이름</th>
                    <th width="20%">저자</th>
                </tr>
                <tbody>
                {% for content in object_list %}
                {% if content.type == 'history' %}
                <tr>
                    <td width="10%"> {{ content.number }}</td>
                    <td width="70%"> {{ content.name }}</td>
                    <td width="20%"> {{ content.author }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>

            <h3 class="text-muted"><strong>세계체제/시대정신</strong></h3>
            <table class="table">
                <tr>
                    <th width="10%">번호</th>
                    <th width="70%">책이름</th>
                    <th width="20%">저자</th>
                </tr>
                <tbody>
                {% for content in object_list %}
                {% if content.type == 'zeitgeist' %}
                <tr>
                    <td width="10%"> {{ content.number }}</td>
                    <td width="70%"> {{ content.name }}</td>
                    <td width="20%"> {{ content.author }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>

            <h3 class="text-muted"><strong>과학기술</strong></h3>
            <table class="table">
                <tr>
                    <th width="10%">번호</th>
                    <th width="70%">책이름</th>
                    <th width="20%">저자</th>
                </tr>
                <tbody>
                {% for content in object_list %}
                {% if content.type == 'science' %}
                <tr>
                    <td width="10%"> {{ content.number }}</td>
                    <td width="70%"> {{ content.name }}</td>
                    <td width="20%"> {{ content.author }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-body">
            <h2 class="text-blue"><strong>경영학과정</strong></h2>
        </div>
        <div class="panel-footer panel-waring">

            <h3 class="text-muted"><strong>경영서 리뷰</strong></h3>
            <table class="table">
                <tr>
                    <th width="10%">번호</th>
                    <th width="70%">책이름</th>
                    <th width="20%">저자</th>
                </tr>
                <tbody>
                {% for content in object_list %}
                {% if content.type == 'business' %}
                <tr>
                    <td width="10%"> {{ content.number }}</td>
                    <td width="70%"> {{ content.name }}</td>
                    <td width="20%"> {{ content.author }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>

            <h3 class="text-muted"><strong>한국경제이력서</strong></h3>
            <table class="table">
                <tr>
                    <th width="10%">번호</th>
                    <th width="90%">주제</th>
                </tr>
                <tbody>
                {% for content in object_list %}
                {% if content.type == 'economy' %}
                <tr>
                    <td width="10%"> {{ content.number }}</td>
                    <td width="90%"> {{ content.name }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>

            <h3 class="text-muted"><strong>케이스스터디</strong></h3>
            <h4>관리과제</h4>
            <table class="table">
                <tr>
                    <th width="10%">번호</th>
                    <th width="90%">주제</th>
                </tr>
                <tbody>
                {% for content in object_list %}
                {% if content.type == 'management' %}
                <tr>
                    <td width="10%"> {{ content.number }}</td>
                    <td width="90%"> {{ content.name }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>

            <h4>기획과제</h4>
            <table class="table">
                <tr>
                    <th width="10%">번호</th>
                    <th width="90%">주제</th>
                </tr>
                <tbody>
                {% for content in object_list %}
                {% if content.type == 'planning' %}
                <tr>
                    <td width="10%"> {{ content.number }}</td>
                    <td width="90%"> {{ content.name }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>

            <h4>영업과제</h4>
            <table class="table">
                <tr>
                    <th width="10%">번호</th>
                    <th width="90%">주제</th>
                </tr>
                <tbody>
                {% for content in object_list %}
                {% if content.type == 'sales' %}
                <tr>
                    <td width="10%"> {{ content.number }}</td>
                    <td width="90%"> {{ content.name }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>
        </div>
    </div>

    {% include 'home/social_share.html' %}
    <!-- /END THE FEATURETTES -->
</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
