{% extends 'home/base.html' %}
{% load bootstrap3 %}
{% load social_share %}
{% load fontawesome %}

{% block content %}
{% include 'home/navbar.html' %}

<div class="container marketing">

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="jumbotron">
        <h1>교육 과정</h1>
    </div>


    <div class="container">
        <br>
        <h2>정규과정</h2>
        <br>
        <h2>인문학 과정</h2>
        <br>
        <p>서울대, 북경대, 동경대 등 권장도서를 참조하여 아름다운서당 교수진이 엄선한 120권의
            동서양 고전명작을 공부합니다. 고전 120권을 다 읽는 것은 실제로 불가능하기 때문에 학생들은
            책을 나누어 읽고, 작성한 리포트와 발표를 중심으로 토론을 진행합니다. 문학, 역사, 철학, 과학 등
            인문학으로 구성된 책을 읽음으로써 교양을 높이고, 핵심을 파악하는 능력과 함께 작문 실력과
            구술 능력을 배양하여, 품성계발과 인격도야에도 효과가 있습니다.
            <br>
            <br>
            - 고전명작의 콘텐츠로 지식을 습득하고 교양의 폭을 넓힘<br>
            - 방대한 분량의 텍스트에서 핵심을 요약, 정리하는 능력 향상<br>
            - 글쓰기 실력 향상<br>
            - 다양한 관점을 접합으로써 사고의 지평을 확대<br>
            - 삶에 대한 진지한 성찰<br>
        </p>
        <br>
        <h2>경영학 과정</h2>
        <br>
        <p class="lead">케이스 스터디</p>
        <p>선진 경영대학원이 예비 경영자를 양성할 때 자주 사용하는 케이스스스터디를 한국 현실에 맞게
            재구성한 과제를 다룹니다. 회사에서 실제로 발생하는 상황을 가정하여 과제를 구성하고 이것을
            개인, 조, 전체가 참여하여 해결합니다. 조사능력, 문제해결 능력, 기획력, 발표력 등을 종합적으로
            함양하는 효과가 있습니다. 특히 기업의 패러다임과 시장의 생리를 이해하는데 빠를 효과를 보입니다.
            때로는 하나의 과제에 한달을 두고서 피드백을 통해 보완하는 방식으로 진행하여 학습 효과를 높이고 있습니다.
            실무 경험이 풍부한 교수진의 암묵지를 문제해결에 접목함으로써 학생들의 역량을 키워주는 학습입니다.
            <br>
            <br>
            - 시장과 기업의 패러다임 이해<br>
            - 문제해결능력 함양<br>
            - 기획서 및 서류 작성 능력 향상<br>
            - 발표 및 프리젠테이션 구성 능력 향상<br>
            - 팀워크를 통해 의사소통과 협력하는 방법 학습<br>
            - 입사 면접에 도움<br>
            - 비전공자에게 생소한 경영학 지식의 체득<br>
        </p>
        <br>
        <p class="lead">한국 경제사</p>
        <p>해방 이후부터 현재까지 한국정부가 도입한 주요경제정책을 종합적으로 공부합니다. 오늘의
            한국 사회를 만든 중요한 정책들을 하나씩 공부함으로써 한국의 어제와 오늘을 확실히 이해하게
            되고, 이를 바탕으로 한국의 내일을 가늠할 수 있는 힘을 기릅니다. 47개의 주요경제정책을
            엄선하여 정책의 도입 배경, 논의과정 및 결과, 정책주도 인물, 당시 언론과 사회의 여론,
            정책이 오늘의 한국 사회에 미친 영향, 시사점 등을 학습합니다.
            <br>
            <br>
            - 다양한 조사 방법 습득<br>
            - 한국의 경제와 사회현상에 대한 통찰력<br>
            - 경제 동향을 예측하는 방법 연습<br>
            - 실질적이고 구체적인 근현대사 공부로 지식과 교양 증가<br>
            - 생생한 경험담을 통한 실질적인 공부<br>
        </p>
        <br>
        <p class="lead">경영서 리뷰</p>
        <p>현직 CEO와 가이스트, 서울대학교 경영대학원 등이 선정한 최신 경영서 및 자기개발서 30권을
            읽고 토론합니다. 이 학습을 통해 경영일반에 관한 넓은 지식을 습득하고, 경영학 과정 과제풀이의
            역량을 향상시키며, 시간관리 능력을 비롯한 사회인으로서의 자세와 태도를 정립하는 기회를 맞이합니다.<br>
            <br>
            - 경영전반에 걸친 핵심적 지식 습득<br>
            - 실질적인 경영전략과 전술의 이해<br>
            - 최신 경영 트랜드 파악<br>
            - 자기계발의 의지와 노하우 습득<br>
            - 세계적 경영 구루들의 관점 파악<br>
        </p>
        <br>
        <h2>특별강좌</h2>
        <p class="lead">스피치</p>
        <p>전문가 지도아래 발성법과 발표 기법을 학습합니다. 단체지도와 함께 도움이 필요한 학생은
            개별 지도를 병행합니다. 1회 수업시간은 3시간으로 진행됩니다.<br>
            <br>
            - 발음과 발성의 문제점 자각<br>
            - 말투, 말의 속도 등 언어생활에서의 나쁜 습관 교정<br>
            - 호흡법을 습득함으로써 발표에 여유가 생김<br>
            - 좋은 발성을 구체적으로 알게 됨<br>
            - 발표력과 자신감 향상<br>
        </p>
        <br>
        <p class="lead">에세이</p>
        <p>월 1회씩 주요 일간지에 게재된 칼럼, 사설, 기고문 중 1편을 골라 옮겨 적고 주제, 글의 플롯,
            새로 알게 된 사실, 인상 깊은 표현, 느낀 점 등을 학습합니다. 캠프 이후에는 부모님 인터뷰,
            서간문, 칼럼 작성 등 직간접적인 글쓰기를 시행합니다. <br>
            <br>
            - 좋은 문장을 통해 글 쓰는 능력 함양<br>
            - 시사 상식 획득<br>
            - 맞춤법, 띄어쓰기 등 우리말 바로 쓰기 학습<br>
            - 창작활동을 통해 자신감 획득<br>
        </p>
        <br>
        <p class="lead">영어</p>
        <p>글로벌 인재의 필수요건인 영어능력 향상을 위하여 링컨의 게티스버그 연설문을 비롯한
            고급 영어명문을 암기하여, 미국 영어의 구조를 익히고 교양 있는 영어를 구사하도록 돕는
            프로그램입니다.<br>
            <br>
            - 낭독을 통한 발음과 발성 향상<br>
            - 명문장을 통한 지식과 교양 함양<br>
            - 영어에 대한 자신감<br>
            - 외국인과의 대화를 대비한 양질의 콘텐츠 비축<br>
        </p>
        <br>
        <p class="lead">한문</p>
        <p>동양사상의 근간을 이루는 사자소학을 통해 한문을 배우고, 인간관계의 기본정신을 익힙니다.<br>
            <br>
            - 한문 실력 증진<br>
            - 인간관계의 성찰<br>
            - 예와 효의 정신 체화<br>
            - 중국어 학습의 접근성 확대<br>
            - 동양 사상의 근간 체득<br>
        </p>
        <br>
        <p class="lead">명사 특강</p>
        <p>기업의 CEO나 임원 및 사회지도층 인사를 초빙해 사회의 흐름과 경제 동향, 그리고 기업에
        관한 특강을 듣습니다. 초빙인사들의 다양한 경험을 통해 학생들이 미래를 설계하는 데 필요한
        인생의 지혜를 전수 받을 수 있습니다.<br>
        <br>
        - 생생한 경험담을 통한 성공의 노하우 습득<br>
        - 진로 및 생활태도에 관해 나아가야 할 방향 설정<br>
        - 저명인사들과의 토론 및 대화 경험<br>
        - CEO들의 혁신, 도전정신, 가능성, 직업관, 삶의 지혜 습득<br>
        - 인생설계의 귀중한 참고자료 체득<br>
        </p>
        <br>
        <p class="lead">선배 특강</p>
        <p>아카데미를 수료한 선배들을 초대하여 대학생활, 아카데미 과정, 사회생활 등 후배들에게
            귀감이 될 만한 내용의 자유 강의를 듣습니다.<br>
            <br>
            - 다양한 직업 세계 탐색<br>
            - 선후배간 관계 증진<br>
            - 젊은 관점에서의 멘토링<br>
        </p>
        <br>
        <h2>특별 활동</h2>
        <br>
        <p class="lead">학급회의</p>
        <p>과정 운영 중 필요한 협의 사항을 다루는 시간입니다. 민주주의 의사 결정 과정을 통해
            자치 규약을 마련하고, 아카데미에 임하는 태도에 대해 학생들 스스로 점검해 볼 수 있는
            기회입니다.<br>
            <br>
            - 민주적인 조직 문화를 통한 자율적 태도 육성<br>
            - 중간 점검의 기회<br>
            - 동기들과의 우애 증긴<br>
        </p>
        <br>
        <p class="lead">봉사활동</p>
        <p>굳은 사명감과 훌륭한 성품을 함양하기 위한 수련의 장으로 사회봉사를 실시합니다.
            자율적으로 진행되며, 주 4시간의 봉사활동을 표준으로 하고 있습니다.<br>
            - 이웃과 나 자신을 돌아보게 됨<br>
            - 정기적 활동에서 얻는 책임감<br>
            - 사회복지사, 함께 활동하는 사람들과의 좋은 인연<br>
            - 더불어 사는 삶을 통해 느끼는 소명 의식과 행복감<br>
        </p>
        <br>
        <p class="lead">겨울캠프</p>
        <p>1월과 2월의 동절기 교실수업 대신 겨울방학 기간 동안 8일간의 겨울캠프를 통해 2개월 분의
            수업을 진행합니다. 학우들과 우애를 다지고, 교수진들이 진로설정을 위한 멘토링 기회를
            제공합니다.<br>
            - 아카데미 활동의 중간점검, 반성 및 자극의 시간<br>
            - 차분한 멘토링을 통한 진로설정에 도움<br>
            - 다양한 학우들과 소중한 인연, 추억 만들기<br>
            - 집중 학습으로 단기간 실력 향상<br>
        </p>
        <br>
        <p class="lead">현장실습</p>
        <p>방학 기간에 학생이 흥미를 갖고 있는 기업체에 지원하여 8주간의 현장실습을 실시합니다.
            비즈니스 모델을 이해하고 실습기업의 강점과 약점을 분석하며, 직장인들은 어떻게
            시간 관리를 하고 자기계발을 위해 노력하는지 생생하게 관찰하는 기회를 제공합니다.<br>
            - 시장경제와 기업의 패러다임 체험<br>
            - 직장인이 살아가는 현실 학습<br>
            - 기업의 비즈니스 모델과 경영전략 파악<br>
            - 아카데미 수업에서 배운 지식을 현실에 접목<br>
        </p>
        <br>
    </div>


    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
