{% extends 'home/base.html' %}
{% load bootstrap3 %}
{% load social_share %}
{% load fontawesome %}

{% block content %}
{% include 'home/navbar.html' %}

<div class="container marketing">

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="jumbotron">
        <h1>교육 특징</h1>
    </div>

    <div class="container">
        <br>
        <p class="lead"> 본 교육의 특징은 학습자가 <strong class="text-blue">주도적</strong>으로 배우는 방식입니다. <br>
            학생들은 주어진 과제를 스스로 조사여 자료를 만들고 발표합니다. </p>
        <br>
        <p class="lead"> 이런 학습방식을 통해서 학생들은 <strong class="text-red">문제해결능력, 협동능력, 커뮤니케이션 능력,
            그리고  갈등조정능력을 갖추고 사명감과 성품까지 갖춘 3형 인재</strong>로 거듭나게 됩니다.</p>
        <br>
    </div>
    <br>

    <table class="table table-condensed">
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <h3 class="text-muted">전통적인 학교 교육</h3>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">

            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <h3 class="text-muted text-red">아름다운서당 교육</h3>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">산업사회</h4>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/yla_icon-01.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">지식정보사회</h4>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">상황 적응력</h4>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/yla_icon-02.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">상황 주도형</h4>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">폐쇄적, 배타적</h4>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/yla_icon-03.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">개방적, 참여적</h4>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">재학기간</h4>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/yla_icon-04.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">평생학습<h4>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">지식정보의 전달</h4>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/yla_icon-05.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">창의적 학습자 양성</h4>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">교육자의 독점</h4>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/yla_icon-06.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">지식공유</h4>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">교육자 주도형</h4>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/yla_icon-07.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">학습자 주도형<h4>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">학위와 졸업장<h4>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/yla_icon-08.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">추천서<h4>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">교육과 훈련의 분리</h4>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/yla_icon-09.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">교육과 훈련의 연계</h4>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">공급자 중심</h4>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/yla_icon-10.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">수요자 중심</h4>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">수익자 부담</h4>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/yla_icon-11.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center" style="vertical-align: middle">
                <h4 class="">지식의 나눔</h4>
            </td>
        </tr>
    </table>

    {% include 'home/social_share.html' %}
    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
