{% extends 'home/base.html' %}
{% load bootstrap3 %}
{% load social_share %}
{% load fontawesome %}

{% block content %}
{% include 'home/navbar.html' %}

<div class="container marketing">

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="jumbotron">
        <h1>교육 특징</h1>
    </div>

    <div class="container">
        <br>
        <p class="lead"> 본 교육의 특징은 학습자가 <a>주도적</a>으로 배우는 방식입니다. <br>
            학생들은 주어진 과제를 스스로 조사여 자료를 만들고 발표합니다. </p>
        <br>
        <p class="lead"> 이런 학습방식을 통해서 학생들은 문제해결능력, 협동능력, 커뮤니케이션 능력,
            그리고  갈등조정능력을 갖추고 사명감과 성품까지 갖춘 3형 인재로 거듭나게 됩니다.</p>
        <br>
    </div>
    <br>
    <table class="table">
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>전통적인 학교 교육<br></p>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">

            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>아름다운서당 교육<br></p>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>산업사회<br></p>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/icon_50-01.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>지식정보사회<br></p>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>상황 적응력<br></p>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/icon_50-02.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>상황 주도형<br></p>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>폐쇄적, 배타적<br></p>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/icon_50-03.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>개방적, 참여적<br></p>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>재학기간<br></p>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/icon_50-02.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>평생학습<br></p>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>지식정보의 전달<br></p>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/icon_50-02.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>창의적 학습자 양성<br></p>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>교육자의 독점<br></p>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/icon_50-02.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>학습자 주도형<br></p>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>학위와 졸업장<br></p>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/icon_50-02.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>추천서<br></p>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>교육과 훈련의 분리<br></p>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/icon_50-02.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>교육과 훈련의 연계<br></p>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>공급자 중심<br></p>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/icon_50-02.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>수요자 중심<br></p>
            </td>
        </tr>
        <tr class="row">
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>수익자 부담<br></p>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 text-center">
                <img src="/static/img/education/feature/icon_50-10.png">
            </td>
            <td class="col-xs-5 col-sm-5 col-md-5 text-center">
                <p><br>지식의 나눔<br></p>
            </td>
        </tr>
    </table>
    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
