{% extends 'home/base.html' %}
{% load bootstrap3 %}
{% load social_share %}
{% load fontawesome %}

{% block content %}
{% include 'home/navbar.html' %}

<div class="container marketing">

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="jumbotron">
        <h1>교육 특징</h1>
    </div>

    <div class="container">
        <br>
        <p class="lead"> 본 교육의 특징은 학습자가 <a>주도적</a>으로 배우는 방식입니다. </p>
        <p class="lead"> 학생들은 주어진 과제를 스스로 조사여 자료를 만들고 발표합니다. </p>
        <br>
        <p class="lead"> 이런 학습방식을 통해서 학생들은 문제해결능력, 협동능력, 커뮤니케이션 능력,
            그리고  갈등조정능력을 갖추고 사명감과 성품까지 갖춘 3형 인재로 거듭나게 됩니다.</p>
    </div>


    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
