{% extends 'home/base.html' %}
{% load bootstrap3 %}
{% load social_share %}
{% load fontawesome %}

{% block content %}
{% include 'home/navbar.html' %}

<div class="container marketing">

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="jumbotron">
        <h1>교육 기간</h1>
    </div>

    <div class="container">
        <!--
        <h1>아름다운 서당은</h1>
        -->
        <br/>
        <p class="lead">1년 과정 : 방학기기간 캠프 포함한 교실수업 총 40주와 현장실습 2개월</p>
        <p class="lead">매주 토요일 09:00 ~ 18:00</p>
        <p class="lead">연 2회 (3월, 9월) 모집</p>
        <br/>
    </div>

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
