{% extends 'home/base.html' %}
{% load bootstrap3 %}
{% load social_share %}
{% load fontawesome %}

{% block content %}
{% include 'home/navbar.html' %}

<div class="container marketing">

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="jumbotron">
        <h1>교육 목적</h1>
    </div>
    <!-- Example row of columns -->
    <div class="container">
        <div class="row">
            <br>
            <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
                <img src="/static/img/education/purpose/character.png">
            </div>
            <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4 ">
                <img src="/static/img/education/purpose/competence.png">

            </div>
            <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4 ">
                <img src="/static/img/education/purpose/commitment.png">
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
                <p class="lead">자신의 머리로 타인의 행복을 꿈꾸며, 사람을 소중하게 생각하는 사람</p>
            </div>
            <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
                <p class="lead">현실의 문제해결능력을 갖춘 사람</p>
            </div>
            <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
                <p class="lead">자발적인 사회적 책무감으로 공공선에 기여하는 사람</p>
            </div>
        </div>

        <div class="row">
            <p class="lead">성품, 업무능력, 사명감 3박자를 고루 갖춘 <strong class="text-red">3C형 인재</strong>를 양성하여
            장차 사회발전에 필요한 젊은 리더를 육성하는 것을 목표로 합니다.</p>
        </div>
    </div>

    {% include 'home/social_share.html' %}
    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% include 'home/footer.html' %}
{% endblock %}
